<a href="https://colab.research.google.com/github/PalomiBollapalli/B19_1233/blob/main/5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
customers = pd.DataFrame({
    'customer_id': [1, 2,3,4,5],
    'name': ['Arjun', 'Babu', 'Chandu', 'David', 'meghana'],
    'city': ['hyd', 'banglore', 'delhi', 'warangal', 'singapore']
})

print("\nCustomers Dataset")
print(customers)
transactions = pd.DataFrame({
    'transaction_id': [101, 102, 103, 104, 105, 106, 107],
    'customer_id': [1, 2, 1, 3, 4, 5, 2],
    'amount': [250, 300, 150, 400, 200, 350, 100]
})

print("\nTransactions Dataset")
print(transactions)
merged_df = pd.merge(transactions, customers, on='customer_id', how='inner')
print("\nMerged Dataset")
print(merged_df)
customer_spend = merged_df.groupby(['customer_id', 'name', 'city'])['amount'].sum().reset_index()
customer_spend.rename(columns={'amount': 'total_spend'}, inplace=True)

print("\nTotal Spend Per Customer")
print(customer_spend)
city_spend = customer_spend.groupby('city')['total_spend'].sum().reset_index()

print("\nCity-wise Spending")
print(city_spend)
top_spender = customer_spend.loc[customer_spend['total_spend'].idxmax()]

print("\nTop Spender")
print(top_spender)
print("\nInsights")
print(f"Top spender is {top_spender['name']} from {top_spender['city']} with a total spend of ${top_spender['total_spend']}.")
print("City with highest spending:", city_spend.loc[city_spend['total_spend'].idxmax(), 'city'])

Customers Dataset
   customer_id     name       city
0            1    Arjun        hyd
1            2     Babu   banglore
2            3   Chandu      delhi
3            4    David   warangal
4            5  meghana  singapore

Transactions Dataset
   transaction_id  customer_id  amount
0             101            1     250
1             102            2     300
2             103            1     150
3             104            3     400
4             105            4     200
5             106            5     350
6             107            2     100

Merged Dataset
   transaction_id  customer_id  amount     name       city
0             101            1     250    Arjun        hyd
1             102            2     300     Babu   banglore
2             103            1     150    Arjun        hyd
3             104            3     400   Chandu      delhi
4             105            4     200    David   warangal
5             106            5     350  meghana  singapore
6             107            2     100     Babu   banglore

Total Spend Per Customer
   customer_id     name       city  total_spend
0            1    Arjun        hyd          400
1            2     Babu   banglore          400
2            3   Chandu      delhi          400
3            4    David   warangal          200
4            5  meghana  singapore          350

City-wise Spending
        city  total_spend
0   banglore          400
1      delhi          400
2        hyd          400
3  singapore          350
4   warangal          200

Top Spender
customer_id        1
name           Arjun
city             hyd
total_spend      400
Name: 0, dtype: object

Insights
Top spender is Arjun from hyd with a total spend of $400.
City with highest spending: banglore

In [5]:
import pandas as pd
patients = pd.DataFrame({
    'patient_id': [1, 2, 3, 4, 5],
    'name': ['Anu', 'Bunty', 'Cherry', 'Dolly', 'Kinny'],
    'age': [29, 45, 34, 60, 50],
    'city': ['hyd', 'hnk', 'banglore', 'New York', 'Los Angeles']
})
print("\nPatients Dataset")
print(patients)
appointments = pd.DataFrame({
    'appointment_id': [101, 102, 103, 104, 105, 106, 107, 108],
    'patient_id': [1, 2, 1, 3, 4, 5, 2, 1],
    'doctor': ['Dr. Smith', 'Dr. Lee', 'Dr. Smith', 'Dr. Patel', 'Dr. Lee', 'Dr. Smith', 'Dr. Lee', 'Dr. Patel'],
    'date': [
        '2025-01-10', '2025-01-12', '2025-01-20', '2025-02-05',
        '2025-02-10', '2025-02-15', '2025-02-18', '2025-02-25'
    ]
})
print("\nAppointments Dataset")
print(appointments)
# 3. Merge Datasets on patient_id
merged_df = pd.merge(appointments, patients, on='patient_id', how='inner')
print("\nMerged Dataset")
print(merged_df)
# 4. Count appointments per patient
patient_visits = merged_df.groupby(['patient_id', 'name', 'age', 'city'])['appointment_id'].count().reset_index()
patient_visits.rename(columns={'appointment_id': 'visit_count'}, inplace=True)

print("\nAppointments Per Patient")
print(patient_visits)
# 5. Group by Doctor to compute workload
doctor_workload = merged_df.groupby('doctor')['appointment_id'].count().reset_index()
doctor_workload.rename(columns={'appointment_id': 'total_appointments'}, inplace=True)
print("\nDoctor Workload")
print(doctor_workload)
# 6. Find patient with maximum visits
top_patient = patient_visits.loc[patient_visits['visit_count'].idxmax()]
print("\nMost Frequent Patient")
print(top_patient)
# 7. Insights
print("\nInsights")
print(f"Most frequent patient is {top_patient['name']} with {top_patient['visit_count']} visits.")
print("Doctor with highest workload:", doctor_workload.loc[doctor_workload['total_appointments'].idxmax(), 'doctor'])

Patients Dataset
   patient_id    name  age         city
0           1     Anu   29          hyd
1           2   Bunty   45          hnk
2           3  Cherry   34     banglore
3           4   Dolly   60     New York
4           5   Kinny   50  Los Angeles

Appointments Dataset
   appointment_id  patient_id     doctor        date
0             101           1  Dr. Smith  2025-01-10
1             102           2    Dr. Lee  2025-01-12
2             103           1  Dr. Smith  2025-01-20
3             104           3  Dr. Patel  2025-02-05
4             105           4    Dr. Lee  2025-02-10
5             106           5  Dr. Smith  2025-02-15
6             107           2    Dr. Lee  2025-02-18
7             108           1  Dr. Patel  2025-02-25

Merged Dataset
   appointment_id  patient_id     doctor        date    name  age         city
0             101           1  Dr. Smith  2025-01-10     Anu   29          hyd
1             102           2    Dr. Lee  2025-01-12   Bunty   45          hnk
2             103           1  Dr. Smith  2025-01-20     Anu   29          hyd
3             104           3  Dr. Patel  2025-02-05  Cherry   34     banglore
4             105           4    Dr. Lee  2025-02-10   Dolly   60     New York
5             106           5  Dr. Smith  2025-02-15   Kinny   50  Los Angeles
6             107           2    Dr. Lee  2025-02-18   Bunty   45          hnk
7             108           1  Dr. Patel  2025-02-25     Anu   29          hyd

Appointments Per Patient
   patient_id    name  age         city  visit_count
0           1     Anu   29          hyd            3
1           2   Bunty   45          hnk            2
2           3  Cherry   34     banglore            1
3           4   Dolly   60     New York            1
4           5   Kinny   50  Los Angeles            1

Doctor Workload
      doctor  total_appointments
0    Dr. Lee                   3
1  Dr. Patel                   2
2  Dr. Smith                   3

Most Frequent Patient
patient_id       1
name           Anu
age             29
city           hyd
visit_count      3
Name: 0, dtype: object

Insights
Most frequent patient is Anu with 3 visits.
Doctor with highest workload: Dr. Lee